html {
  --c-bg-page: hsl(0, 0%, 97%);
  --c-bg-fset: hsl(0, 0%, 95%);
  --c-bg-iput: hsl(0, 0%, 100%);
  --c-link-normal: steelblue;
  --c-link-visited: goldenrod;
  --c-bord: hsl(0, 0%, 90%);
  --c-bord: hsl(0, 0%, 90%);
  --w-bord: 1px;
  --s-bord: solid;
  --w-padd-tb: 0;
  --w-padd-lr: 2ch;
  --height-header: auto;
  --height-main: calc(100vh - var(--height-header));
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

html,
body,
body * {
  font-family: 'Noto Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 100%;
  line-height: 1.5;
  word-break: normal;
  overflow-wrap: normal;
  hyphens: manual;
}

html,
body,
header,
main,
div,
canvas,
fieldset,
legend,
label {
  box-sizing: border-box;
}

input {
  box-sizing: content-box;
}

html,
div,
fieldset,
legend,
canvas {
  display: block;
}

header,
main {
  display: flex;
}

template,
[hidden] {
  display: none;
}

html,
body {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  user-select: none;
  background-color: var(--c-bg-page);
  height: auto;
  min-height: 100%;
}

header,
main {
  padding: 0 var(--w-padd-lr);
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  min-height: var(--height-main);
  /* overflow-x: hidden; */
  margin: 0 auto auto;
  padding: 1rem var(--w-padd-lr);
}

main>div {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  /* overflow-x: hidden; */
  padding: 0 0;
}

main>div.controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: stretch;
  padding-bottom: 1rem;
}

main>div.canvas {
  overflow-x: auto;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  width: calc( 100% - ( 2 * var(--w-padd-lr)));
  height: var(--height-header);
  padding: 2rem var(--w-padd-lr) 1rem;
  border-color: var(--c-bord);
  border-style: none;
  border-width: 0;
}

header * {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

header h1 {
  margin-block-end: 1rem;
  font-size: 2.75rem;
  font-weight: 500;
  font-weight: 200;
  letter-spacing: -0.05em;
  line-height: 1.0;
}

header h1 sup {
  font-size: 0.5em;
  font-weight: 300;
}

footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

p {
  font-size: 1.125rem;
}

sup {
  font-size: 0.5em;
}

canvas {
  margin: 0 auto;
  background: url('./testbild.png');
}

fieldset {
  margin-inline-start: 0;
  margin-inline-end: 1ch;
  margin-block-start: 1rem;
  margin-block-end: 0;
  padding-block-start: 0;
  padding-block-end: 8px;
  padding-inline-start: 0;
  padding-inline-end: 1ch;
  text-align: left;
  background-color: var(--c-bg-fset);
  border-width: var(--w-bord);
  border-style: var(--s-bord);
  border-color: var(--c-bord);
  box-shadow: 0px 3px 2px -2px rgb(0 0 0 / 20%);
}

fieldset:last-child {
  margin-inline-end: 0;
  padding-inline-end: 2ch;
}

label,
fieldset span,
input {
  display: inline-block;
  vertical-align: middle;
  /* font-size: 0.9375rem; */
}

legend {
  position: relative;
  z-index: 1;
  padding-block-start: 0;
  padding-block-end: 1px;
  padding-inline-start: 0;
  padding-inline-end: 0;
  font-size: 0.8em;
  font-weight: 300;
  line-height: 1;
  text-align: left;
  text-transform: uppercase;
  text-shadow: 0.5px 0.5px 0 rgba(0, 0, 0, 0.333);
  letter-spacing: 0.0375em;
  white-space: nowrap;
  background-color: var(--c-bg-fset);
  border-width: var(--w-bord);
  border-style: var(--s-bord);
  border-color: var(--c-bord);
  border-bottom-width: 0;
  /* box-shadow: 7px 8px 0px -6px var(--c-bg-fsetX, red), -5px 1px 0px 1px var(--c-bg-fsetX, yellow), -6px 0px 0px 1px var(--c-bord), 0px 0px 0px 1px var(--c-bord); */
  transform: translateY(calc(-1ex - 1px)) translateX(-1px);
}

legend>span {
  display: block;
  padding-block-start: 3px;
  padding-block-end: 0px;
  padding-inline-start: 0.6ch;
  padding-inline-end: 0.6ch;
  opacity: 0.6666667;
}

label {
  position: relative;
  z-index: 2;
  /* margin-inline-end: 0.5ch; */
}

label::before {
  /* :first-of-type */
  content: '\2006';
}

label:last-of-type {
  margin-inline-end: 0;
}

label[title^="Width"] span,
label[title^="Height"] span,
label[title^="Back"] span {
  margin-inline-end: 3px;
}

input {
  background-color: var(--c-bg-iput);
  padding: 0;
  border-color: var(--c-bord);
  border-style: var(--s-bord);
  border-width: var(--w-bord);
  overflow: visible;
}

input[type="number"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 6ch;
  text-align: right;
  margin-right: 2px;
}

input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 1ch;
  border-radius: 1ch;
}

input.fgcolor {
  width: 3.3ch;
}

input.opacity {
  width: 100px;
}

input[type="color"],
input[type="color" i] {
  height: 1.25rem;
  width: 1.25rem;
}

input[type="color" i]::-webkit-color-swatch-wrapper {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0;
}

input[type="color" i]::-webkit-color-swatch {
  border-width: 0;
  border-style: none;
  border-color: transparent;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

a,
a:link {
  background-color: transparent;
  color: var(--c-link-normal);
  color: inherit;
  text-decoration: underline;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: var(--c-link-normal);
  text-decoration-skip-ink: initial;
  text-decoration-thickness: 1px;
  text-underline-offset: 1px;
}

a:visited {
  color: var(--c-link-visited);
  color: inherit;
  text-decoration-color: var(--c-link-visited);
}

a:hover,
a:link:hover,
a:visited:hover {
  text-decoration-thickness: 2px;
  /*text-underline-offset: -1px;*/
}


/*
a:hover,
a:link:hover {
  background-color: var(--c-link-normal);
}

a:visited:hover {
  background-color: var(--c-link-visited);
}
*/

.nowrap {
  white-space: nowrap;
}
